/* ==========================================================================
   #RESPONSIVE-HIDE
   ========================================================================== */

// Responsive hide helpers
@each $inuit-bp-name, $inuit-bp-value in $mq-breakpoints {
  @include mq($from: $inuit-bp-name) {
    .u-hidden\@#{$inuit-bp-name} {
      display: none !important;
    }
  }

  @include mq($until: $inuit-bp-name) {
    .u-hidden\@until-#{$inuit-bp-name} {
      display: none !important;
    }
  }
}
